[submodule "react17-without-automatic-batching"]
	path = react17-without-automatic-batching
	url = https://github.com/artidata/react17-without-automatic-batching
[submodule "react18-with-automatic-batching"]
	path = react18-with-automatic-batching
	url = https://github.com/artidata/react18-with-automatic-batching
[submodule "scrollIntoView"]
	path = scrollIntoView
	url = https://github.com/artidata/scrollIntoView
[submodule "amplify-i18n"]
	path = amplify-i18n
	url = https://github.com/artidata/amplify-i18n
[submodule "styling-mui-datepicker"]
	path = styling-mui-datepicker
	url = https://github.com/artidata/styling-mui-datepicker
[submodule "mouse-coordinate"]
	path = mouse-coordinate
	url = https://github.com/artidata/mouse-coordinate
[submodule "slot-react-spring"]
	path = slot-react-spring
	url = https://github.com/artidata/slot-react-spring
[submodule "mui-v5-stack-outlier"]
	path = mui-v5-stack-outlier
	url = https://github.com/artidata/mui-v5-stack-outlier
[submodule "svg-to-png-or-svg"]
	path = svg-to-png-or-svg
	url = https://github.com/artidata/svg-to-png-or-svg
[submodule "form-tag-inconsistency"]
	path = form-tag-inconsistency
	url = git@github.com:artidata/form-tag-inconsistency.git
[submodule "form-tag-obsolete-pre"]
	path = form-tag-obsolete-pre
	url = git@github.com:artidata/form-tag-obsolete-pre.git
[submodule "form-tag-obsolete"]
	path = form-tag-obsolete
	url = git@github.com:artidata/form-tag-obsolete.git
[submodule "fbgroup-table-puzzle"]
	path = fbgroup-table-puzzle
	url = git@github.com:artidata/fbgroup-table-puzzle.git
